/**___________colors_________**/
//primary

$beaver: #9e7f66;
$cod-gray: #111111;
$white: #ffffff;
$text-dark: #242B37;


$dark-gray: #333333;
$light-gray: #F2F2F2;


//secondary

$mirage: #17192b;
$ebony-clay: #242b37;
$shuttle-gray: #5c6779;

//error
$error-msg: #B54949;


/**________font-sizes_________**/


/**________font-weights_________**/

$fw-sm: 300;
$fw-md: 400;
$fw-lg: 600;
$fw-xl: 700;

/**_______images____________**/

$homepage-imgs-path: "../images/homepage/";
$booking-imgs-path: "../images/booking/";
$pattern-imgs-path: "../images/patterns/";
$large-img-extension: "@2x";